.card {
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5) ;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 20px 0;
    /*position: relative;!*for exit button*!*/
    width: 31%;
    min-height:390px;
}


.loadMoreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    border:none;
    border-radius: 5px;
    background-color: black;
}

.loadMoreButton:hover {
    cursor:pointer;
}

.loadMoreButton:hover span{
    color:orange;
}

.loadMoreText {
    color:white;
    font-size: 20px;
    font-family: Roboto;
}
.loader {
    margin: 200px;
    width:100px;
}


@media all and (max-width: 1024px) {
    .card {
        width: 47%;
    }
}
@media all and (max-width: 763px) {
    .card {
        width: 100%;
    }
}

.metaContainer {
    display: flex;
    flex-flow: column nowrap;
    /*justify-content: space-evenly;*/
    padding: 10px;
}

.metaData {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 16px;
    /*width: 100%;*/
}

.userLink {
    display: flex;
    align-items: center;
    margin-right: 7px;
    text-decoration: none;
    color: black;
}
.userLink:hover {
    color: orange;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 7px;
}

.userName{
    color: white;
}

.userName:hover{
    color: orange;
    text-decoration: underline;
}

.createdAt {
    color: #999999;
    display: flex;
    align-items: center;
}


/*@media all and (min-width: 1024px) {*/
/*    .metaData {*/
/*        font-size: 14px;*/
/*        line-height: 16px;*/
/*    }*/
/*}*/

/*@media all and (min-width: 1540px) {*/
/*    !*.userLink:hover a {*!*/
/*    !*    text-decoration: underline;*!*/
/*    !*}*!*/

/*    .username{*/
/*        position: relative;*/
/*        z-index: 1;*/
/*    }*/

/*}*/

.controlsContainer {
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
}

.likesContainer {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /*width: 50px;*/

}
.likesValue {
    color: white;
}

.likesIcon {
    margin-left: 10px;
    /*display:inline-block;*/
}

/*.errorContainer {*/
/*    margin-left:10px;*/
/*    display:flex;*/
/*    flex-flow: column nowrap;*/
/*    justify-content: center;*/
/*}*/

/*.errorValue {*/
/*    font-size: 12px;*/
/*    padding:0;*/
/*    margin:0;*/
/*}*/



.button {
    display:flex;
    background-color: transparent;
    align-items: center;
    margin-left:10px;
    border:none;
    outline: none;
}

.button:hover{
    cursor:pointer;
}

.previewContainer {
    height: 300px;
}

.previewContainer:hover{
    cursor: pointer;
}

.previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

