.card {
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5) ;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 20px 0;
    /*position: relative;!*for exit button*!*/
    width: 32%;
    min-height:390px;
}


.loadMoreContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

.loadMoreContainer:hover {
    cursor:pointer;
    color:orange;
}

.loadMoreContainer:hover span{
    color:orange;
}

.loadMoreText {
    color:white;
    font-size: 20px;
    font-family: Roboto;
}
.loader {
    margin: 200px;
    width:100px;
}


@media all and (max-width: 1024px) {
    .card {
        width: 49%;
    }
}
@media all and (max-width: 763px) {
    .card {
        width: 100%;
    }
}

