
.button {
    width: 100px;
    height: 100px;
    font-size: 26px;
    color: transparent;
    border:none;
    outline:none;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 5px grey;
    background-image: url("../../img/authlogo.jpg");
    background-size: contain;
    transition: all 0.4s ease;
}

.button:hover {
    cursor: pointer;
    color: orange;
    background-image: none;
    transition: all 0.4s ease;
}

.authContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.authTextContainer {
    display: flex;
    justify-content: center;
}

.authText {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.loader {
    width:40px;
    margin-right: 10px;
}

@media all and (max-width: 763px) {
    .button {
        left: 35%;
    }
}