
/*.button {*/
/*    margin: 200px auto;*/
/*    font-size: 16px;*/
/*    background-color: transparent;*/
/*    outline: none;*/
/*    border:none;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    height: 100%;*/
/*}*/

/*.button:hover {*/
/*    cursor: pointer;*/
/*    color: orange;*/
/*}*/

.authContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.authTextContainer {
    display: flex;
    justify-content: center;
}

.authText {
    font-family: Roboto;
    font-size: 20px;
    padding:20px 0;
}

.loader {
    margin-top: 200px;
    width:100px;
}